<div class="about-page g--10 m--1">
  <h2>About LanternHoard</h2>
  <h3>Copyright</h3>
  <div class="tile">
    <p class="m-t--20">LanternHoard is a fan and utility site and is not affiliated with Kingdom Death.</p>
    <p>The Kingdom Death trademark, the name 'Lantern Hoard', and all other imagery and terminology associated with Kingdom Death belongs to Kingdom Death © Poots 2007-2016.</p>
    <p>Kingdom Death, the foregoing marks' respective logos and all associated marks, logos, places, names, creatures, and insignia/devices/logos/symbols, locations, weapons, units and unit insignia, characters, products and illustrations from the Kingdom Death game setting are either ®, ™ and/or © Poots 2007-2016, variably registered in the United States other countries around the world. (Taken from Vibrant Lantern Copyright)</p>
    <p>All Rights Reserved to their respective owners.</p>
    <p>Utilities and Applications created for this site only are &copy; Orion Free 2016, not including any imagery or other items belonging to the aforementioned Kingdom Death trademark.</p>
  </div>
  <h3 class="m-t--20">Privacy</h3>
  <div class="tile">
    <p class="m-t--20">Any information collected from you is private, and will not be shared with any third parties. Phone numbers collected for notification purposes will not be used for marketing.</p>
  </div>
  <h3 class="m-t--20">Contact</h3>
  <div class="tile">
    <p class="m-t--20">You can email me at <a href="mailto:orion@lanternhoard.com">orion@lanternhoard.com</a> for comments, concerns, and questions.</p>
  </div>
</div>

